.top-container {
  background-color: #11144c;
  color: #e16262;
  position: relative;
  padding-top: 100px;
  margin-bottom: 0;
}

.middle-container {
  background-color: #fffbe0;
  position: absolute;
  margin: 0;
  padding-top: 175px;
}

.bottom-container{
  display: block;
  background-color: #fabc60;
  margin: auto;


}



#headshot{
  display: block;
  position: absolute;
  margin: -150px auto;
  margin-left: -150px;
  left: 50%;
  z-index: 100;
  border-style: solid;
  border-radius: 100%;
  border-width: 5px;
  border-color: #e16262;
}

#banner{
  object-fit: cover;
  width: 100%;
  height: 500px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 50px;
}

#bio{
  width: 50%;
  margin: auto;
  line-height: 2;
  padding-bottom: 80px;

}

#computer{
  width:25%;
  float: left;
  margin-right: 50px;
}

#rocket{
  width:25%;
  float: right;
  margin-left: 50px;
}


body {
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 4.5rem;
}

h2{
  color: #3a9679;
  font-size: 2rem;
}

h3{
  color:#11144c;
  font-size: 1.5rem;
}


.cropped-images{
  border-radius: 100%;
  border-style: solid;
  border-width: thick;
  border-color: #e16262;
  height: 200px;
  width: 200px;
}

.dotted{
  border-style: dotted none none;
  border-width: 10px;
  border-color: #e16262;
  width: 10%;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.fab{
  padding:8px;
  color:#e16262;
}

.fab:hover{
  color:black !important;
}

.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #e16262;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a84343;
  text-decoration: none;
}
